.background {
  background-color: mintcream;
  background-size: 100vw auto;
}
.header {
  text-align: center;
  color: darkblue;
  font-size: 30px;
}
.todo-form {
  text-align: center;
  padding: 20px;
}
.todo-input {
  text-align: justify;
  color: black;
}
.Add-button {
  background-color: pink;
}
.icon {
  color: rgb(20, 12, 12);
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.7em;
}
.todo-row-complete {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: skyblue;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: red;
}
.check-complete {
  color: red;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.7em;
}
.edit-form {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border-style: dashed;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: yellowgreen;
}
